In [75]:
import requests
import zipfile
import pandas as pd
import os
from io import BytesIO

def download_and_read_specific_csv(url, csv_filename, extract_to='extracted_data', encoding='ISO-8859-1', delimiter=';'):
    # Step 1: Download the zip file
    response = requests.get(url)
    if response.status_code != 200:
        raise Exception(f"Failed to download file from {url}")
    
    # Step 2: Extract the zip file
    with zipfile.ZipFile(BytesIO(response.content)) as thezip:
        thezip.extractall(extract_to)
    
    # Step 3: Read the specific CSV file
    csv_path = os.path.join(extract_to, csv_filename)
    if not os.path.exists(csv_path):
        raise Exception(f"{csv_filename} not found in the zip archive")
    
    try:
        df = pd.read_csv(csv_path, encoding=encoding, sep=";")
    except UnicodeDecodeError:
        print(f"Could not decode {csv_filename} with encoding {encoding}. Trying 'utf-8'.")
        df = pd.read_csv(csv_path, encoding='utf-8', sep=';', errors='ignore')

    return df

# Example usage
url = 'https://cdn.buenosaires.gob.ar/datosabiertos/datasets/sbase/subte-viajes-molinetes/molinetes-2024.zip'
csv_filename = '202403_PAX15min-ABC.csv'
data = download_and_read_specific_csv(url, csv_filename)
data_2 = download_and_read_specific_csv(url, '202402_PAX15min-ABC.csv')
data_3 = download_and_read_specific_csv(url, '202401_PAX15min-ABC.csv')
data.head()

  FECHA;DESDE;HASTA;LINEA;MOLINETE;ESTACION;pax_pagos;pax_pases_pagos;pax_franq;pax_TOTAL
0  1/3/2024;05:15:00;05:30:00;LineaC;LineaC_Const...
1  1/3/2024;05:15:00;05:30:00;LineaB;LineaB_Alem_...
2  1/3/2024;05:15:00;05:30:00;LineaB;LineaB_Pelle...
3  1/3/2024;05:15:00;05:30:00;LineaB;LineaB_Alem_...
4  1/3/2024;05:15:00;05:30:00;LineaA;LineaA_SanPe...

In [83]:
cd extracted_data

/workspaces/Passenger-Flow-Prediction-CABA/extracted_data

In [96]:
import requests
import zipfile
import pandas as pd
import os
from io import BytesIO

def download_and_read_specific_csv(url, csv_filename, extract_to='extracted_data', encoding='ISO-8859-1', delimiter=';'):
    # Step 1: Download the zip file
    response = requests.get(url)
    if response.status_code != 200:
        raise Exception(f"Failed to download file from {url}")
    
    # Step 2: Extract the zip file
    with zipfile.ZipFile(BytesIO(response.content)) as thezip:
        thezip.extractall(extract_to)
    
    # Step 3: Read the specific CSV file
    csv_path = os.path.join(extract_to, csv_filename)
    if not os.path.exists(csv_path):
        raise Exception(f"{csv_filename} not found in the zip archive")
    
    try:
        df = pd.read_csv(csv_path, encoding=encoding, sep=";")
        # Split the single column into multiple columns
        df = df[df.columns[0]].str.split(';', expand=True)
        # Rename the columns based on the provided header
        df.columns = ['FECHA', 'DESDE', 'HASTA', 'LINEA', 'MOLINETE', 'ESTACION', 'pax_pagos', 'pax_pases_pagos', 'pax_franq', 'pax_TOTAL']
        # Rename the columns to lowercase
        df.columns = df.columns.str.strip().str.lower()
    except UnicodeDecodeError:
        print(f"Could not decode {csv_filename} with encoding {encoding}. Trying 'utf-8'.")
        df = pd.read_csv(csv_path, encoding='utf-8', sep=delimiter, errors='ignore')


    return df

# Example usage
url = 'https://cdn.buenosaires.gob.ar/datosabiertos/datasets/sbase/subte-viajes-molinetes/molinetes-2024.zip'
csv_filename = '202401_PAX15min-ABC.csv'
#data = download_and_read_specific_csv(url, csv_filename)
data_2 = pd.read_csv('202402_PAX15min-ABC.csv', sep=";")
data_2.columns = ['FECHA', 'DESDE', 'HASTA', 'LINEA', 'MOLINETE', 'ESTACION', 'pax_pagos', 'pax_pases_pagos', 'pax_franq', 'pax_TOTAL']

data_3 = download_and_read_specific_csv(url, csv_filename)
data_3.head()

,fecha,desde,hasta,linea,molinete,estacion,pax_pagos,pax_pases_pagos,pax_franq,pax_total
0,1/1/2024,07:45:00,08:00:00,LineaB,LineaB_Malabia_N_Turn01,Malabia,3,0,0,3
1,1/1/2024,07:45:00,08:00:00,LineaB,LineaB_Tronador_Turn01,Tronador,1,0,0,1
2,1/1/2024,07:45:00,08:00:00,LineaB,LineaB_Pellegrini_E_Turn05,Carlos Pellegrini,13,0,0,13
3,1/1/2024,07:45:00,08:00:00,LineaA,LineaA_Flores_Este_Turn03,Flores,2,0,0,2
4,1/1/2024,07:45:00,08:00:00,LineaB,LineaB_Dorrego_N_Turn03,Dorrego,1,0,0,1

In [97]:
data_2.columns = data_2.columns.str.strip().str.lower()

In [99]:
df = result_df = pd.concat([data_3, data_2, data], axis=0)
df

,fecha,desde,hasta,linea,molinete,estacion,pax_pagos,pax_pases_pagos,pax_franq,pax_total
0,1/1/2024,07:45:00,08:00:00,LineaB,LineaB_Malabia_N_Turn01,Malabia,3,0,0,3
1,1/1/2024,07:45:00,08:00:00,LineaB,LineaB_Tronador_Turn01,Tronador,1,0,0,1
2,1/1/2024,07:45:00,08:00:00,LineaB,LineaB_Pellegrini_E_Turn05,Carlos Pellegrini,13,0,0,13
3,1/1/2024,07:45:00,08:00:00,LineaA,LineaA_Flores_Este_Turn03,Flores,2,0,0,2
4,1/1/2024,07:45:00,08:00:00,LineaB,LineaB_Dorrego_N_Turn03,Dorrego,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
599339,31/3/2024,22:30:00,22:45:00,LineaA,LineaA_Congreso_N_Turn01,Congreso,0,0,3,3
599340,31/3/2024,22:30:00,22:45:00,LineaC,LineaC_Retiro_Turn11,Retiro,1,0,0,1
599341,31/3/2024,22:30:00,22:45:00,LineaB,LineaB_CallaoB_S_Turn01,Callao.B,3,0,0,3
599342,31/3/2024,22:30:00,22:45:00,LineaC,LineaC_Lavalle_S_Turn03,Lavalle,1,0,0,1
599343,31/3/2024,22:30:00,22:45:00,LineaA,LineaA_Lima_S_Turn03,Lima,2,0,0,2

In [100]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error


# Convert date and time columns to datetime
df['fecha'] = pd.to_datetime(df['fecha'])
df['start_time'] = pd.to_datetime(df['fecha'].astype(str) + ' ' + df['desde']).round('H')
df['end_time'] = pd.to_datetime(df['fecha'].astype(str) + ' ' + df['hasta']).round('H')
df.head(5)
df.isnull().sum()
# Fill missing values with the median
df.fillna(df.median(), inplace=True)

/tmp/ipykernel_9809/1368242156.py:13: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.fillna(df.median(), inplace=True)
/tmp/ipykernel_9809/1368242156.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.median(), inplace=True)

In [5]:
# Cap outliers at the 95th percentile
#for col in ['pax_pago', 'pax_pases_pagos', 'pax_franq', 'pax_total']:
#    df[col] = df[col].clip(upper=df[col].quantile(0.95))

In [43]:
# Extract time-related features
df['hour'] = df['start_time'].dt.hour
df['day'] = df['start_time'].dt.day
df.head(-1)

df[(df['linea'] == 'LineaC') & (df['estacion'] == 'Retiro') & (df['start_time'] == '2024-01-03 05:00:00')]['pax_total']#.astype('int').sum()

24      3
62     13
97      2
108    18
120    11
123     2
148     1
182     2
Name: pax_total, dtype: object

In [11]:
from datetime import datetime, timedelta

start_date = datetime(2024, 3, 1)
end_date = datetime(2024, 3, 31)
date_list = [start_date + timedelta(days=x) for x in range((end_date - start_date).days + 1)]
time_list = [timedelta(hours=x) for x in range(24)]

In [55]:
len(df_c['start_time'].unique()), 24*31, 6*31, 744-561

(561, 744, 186, 183)

In [101]:
df_c = df[df['linea']=='LineaC']


results = []

for station in df_c['estacion'].unique():
    for date in df_c['start_time'].unique():
            total_pax = df_c[(df_c['estacion'] == station) & 
                           (df_c['start_time'] == date)]['pax_total'].astype('int').sum()
            results.append({
                'station': station,
                'fecha_de_inicio': date,
                'total_pax': total_pax
            })

In [102]:
# Convert results to DataFrame
result_df = pd.DataFrame(results)

#result_df[(result_df['station'] == 'Retiro') & (result_df['fecha_de_inicio'] == '2024-03-01 05:00:00')]
result_df[(result_df['station'] == 'Retiro')]# & (result_df['fecha_de_inicio'] == '2024-01-03 05:00:00')]

     station     fecha_de_inicio  total_pax
1661  Retiro 2024-01-01 08:00:00        152
1662  Retiro 2024-01-01 09:00:00        152
1663  Retiro 2024-01-01 10:00:00        214
1664  Retiro 2024-01-01 11:00:00        150
1665  Retiro 2024-01-01 12:00:00        382
...      ...                 ...        ...
3317  Retiro 2024-03-31 18:00:00       1181
3318  Retiro 2024-03-31 19:00:00        856
3319  Retiro 2024-03-31 20:00:00        959
3320  Retiro 2024-03-31 21:00:00        497
3321  Retiro 2024-03-31 22:00:00        315

[1661 rows x 3 columns]

In [29]:
# Create a single lag feature
result_df['total_pax_lag_1'] = result_df['total_pax'].shift(1)
result_df

Index(['station', 'fecha_de_inicio', 'total_pax'], dtype='object')

In [106]:
result_df.set_index('fecha_de_inicio', inplace=True)

In [124]:
from sklearn.preprocessing import LabelEncoder
# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit LabelEncoder and transform the 'estacion' column
result_df['station_le'] = label_encoder.fit_transform(result_df['station'])
# Convert 'fecha_de_inicio' to an integer format (e.g., Unix timestamp)
#X = result_df['station_le']
#y = result_df['total_pax']

# Train-test split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Extract time-based features from the index
#result_df['year'] = df.index.year
result_df['day_of_week'] = result_df.index.day
result_df['day'] = result_df.index.day
result_df['hour'] = result_df.index.hour

for lag in range(1, 12):  # Create lags from 1 to 3
    result_df[f'total_pax_lag_{lag}'] = result_df['total_pax'].shift(lag)

result_df = result_df.dropna()
    
train = result_df.loc[result_df.index < '2024-03-24 05:00:00']
test = result_df.loc[result_df.index >= '2024-03-24 05:00:00']

FEATURES = ['station_le', 'day_of_week', 'day', 'hour', 'total_pax_lag_1', 'total_pax_lag_2', 'total_pax_lag_3', 
            'total_pax_lag_4', 'total_pax_lag_5', 'total_pax_lag_6',
           'total_pax_lag_7', 'total_pax_lag_8', 'total_pax_lag_9',
           'total_pax_lag_10', 'total_pax_lag_11']
TARGET = 'total_pax'


X_train = train[FEATURES]
y_train = train[TARGET]

X_test = test[FEATURES]
y_test = test[TARGET]

X_train

,station_le,day_of_week,day,hour,total_pax_lag_1,total_pax_lag_2,total_pax_lag_3,total_pax_lag_4,total_pax_lag_5,total_pax_lag_6,total_pax_lag_7,total_pax_lag_8,total_pax_lag_9,total_pax_lag_10,total_pax_lag_11
fecha_de_inicio,,,,,,,,,,,,,,,
2024-01-13 06:00:00,1,13,13,6,109.0,617.0,638.0,1577.0,1142.0,2281.0,1747.0,3283.0,1421.0,3370.0,2104.0
2024-01-13 07:00:00,1,13,13,7,1249.0,109.0,617.0,638.0,1577.0,1142.0,2281.0,1747.0,3283.0,1421.0,3370.0
2024-01-13 08:00:00,1,13,13,8,1537.0,1249.0,109.0,617.0,638.0,1577.0,1142.0,2281.0,1747.0,3283.0,1421.0
2024-01-13 09:00:00,1,13,13,9,3772.0,1537.0,1249.0,109.0,617.0,638.0,1577.0,1142.0,2281.0,1747.0,3283.0
2024-01-13 10:00:00,1,13,13,10,2052.0,3772.0,1537.0,1249.0,109.0,617.0,638.0,1577.0,1142.0,2281.0,1747.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-23 20:00:00,2,23,23,20,109.0,143.0,93.0,126.0,111.0,129.0,93.0,131.0,47.0,114.0,32.0
2024-03-23 21:00:00,2,23,23,21,101.0,109.0,143.0,93.0,126.0,111.0,129.0,93.0,131.0,47.0,114.0
2024-03-23 22:00:00,2,23,23,22,64.0,101.0,109.0,143.0,93.0,126.0,111.0,129.0,93.0,131.0,47.0
2024-03-23 23:00:00,2,23,23,23,82.0,64.0,101.0,109.0,143.0,93.0,126.0,111.0,129.0,93.0,131.0
2024-03-24 00:00:00,2,24,24,0,9.0,82.0,64.0,101.0,109.0,143.0,93.0,126.0,111.0,129.0,93.0

In [108]:
# Retrieve the encoding dictionary
encoding_dict = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))
encoding_dict

{'Avenida de Mayo': 0,
 'Constitucion': 1,
 'Diagonal Norte': 2,
 'General San Martin': 3,
 'Independencia': 4,
 'Lavalle': 5,
 'Mariano Moreno': 6,
 'Retiro': 7,
 'San Juan': 8}

In [125]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

# Initialize and train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')

Mean Absolute Error: 246.2536274458511

In [126]:
from sklearn.preprocessing import LabelEncoder
# Initialize and train the model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')

Mean Absolute Error: 79.43744673295454

In [127]:
from xgboost import XGBRegressor

# Initialize XGBoost model
model = XGBRegressor(max_depth=1000)

# Train the model
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')

Mean Absolute Error: 84.6846091547162